.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
