.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero > * {
  padding: 80px 24px;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.hero h1 {
  font-size: var(--size-56);
}

.button_container {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero img,
  .hero picture {
    padding: 0;
    width: 100%;
  }
}
