.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.logo_title {
  display: block;
  font-family: var(--font-alternate);
  color: var(--color-brown-default);
}

@media only screen and (max-width: 600px) {
  .logo_title {
    display: none;
  }
}
