:root {
  /* Neutral Colors */
  --color-neutral-0: #ffffff;
  --color-neutral-1: #fdfdfd;
  --color-neutral-2: #fcfcfb;
  --color-neutral-3: #fafafa;
  --color-neutral-4: #f9f9f8;
  --color-neutral-5: #f7f7f6;
  --color-neutral-10: #dfdedd;
  --color-neutral-20: #c6c5c3;
  --color-neutral-30: #aeadaa;
  --color-neutral-40: #969491;
  --color-neutral-50: #7d7b77;
  --color-neutral-60: #65625e;
  --color-neutral-70: #4d4a45;
  --color-neutral-80: #34312b;
  --color-neutral-90: #1c1812;
  --color-neutral-100: #000000;

  /* Tan Colors */
  --color-tan-lighter: #f1ece1;
  --color-tan-light: #e4d9c3;
  --color-tan-default: #ddcfb4;
  --color-tan-dark: #b1a690;
  --color-tan-darker: #857c6c;

  /* Brown Colors */
  --color-brown-lighter: #978f84;
  --color-brown-light: #74695b;
  --color-brown-default: #514432;
  --color-brown-dark: #31291e;
  --color-brown-darker: #201b14;

  /* Font Families */
  --font-default: "Inter", sans-serif;
  --font-alternate: "Gluten", sans-serif;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-semibold: 600;

  /* Line Heights */
  --line-height-none: 1;
  --line-height-tight: 1.125;
  --line-height-default: 1.25;
  --line-height-loose: 1.5;

  /* Font Sizes */
  --size-1: 0.0625rem;
  --size-2: 0.125rem;
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-72: 4.5rem;
  --size-80: 5rem;
  --size-96: 6rem;

  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-default);
  line-height: var(--line-height-default);
}
