.footer {
  background-color: var(--color-neutral-90);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 120px;
  padding: 24px;
}

.footer_logo {
  display: block;
}

.footer_links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.footer_links a {
  color: var(--color-neutral-5);
  text-decoration: none;
  font-size: var(--size-16);
}

.footer_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer_socials a {
  transition: transform 0.2s;
}

.footer_socials a:hover {
  transform: translateY(-2px);
}

.footer_socials button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.footer_copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-neutral-30);
  font-size: var(--size-12);
  padding-bottom: 10px;
}

.footer_link {
  position: relative;
  text-decoration: none;
  color: var(--color-neutral-90);
}

.footer_link::after {
  bottom: -2px;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  content: "";
  height: 2px;
  transform-origin: right;
  transition: transform 0.3s ease-in;
  background-color: var(--color-neutral-5);
}

.footer_link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media screen and (max-width: 768px) {
  .footer_container {
    flex-direction: column;
    height: 200px;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .footer_logo {
    display: none;
  }

  .footer_links {
    margin-top: 24px;
  }

  .footer_socials {
    gap: 16px;
  }
}
